extends layout

block content
    h1=title

    form(method='POST' action='')
        div.form-group
        input.form-control(type='hidden', name='uid' required='true' value=(undefined===user ? '' : user._id) )
        label(for='first_name') First Name:
        input#first_name.form-control(type='text', placeholder='First name' name='first_name' required='true' value=(undefined===user ? '' : user.first_name) )
        label(for='last_name') Last Name:
        input#last_name.form-control(type='text', placeholder='Last name' name='last_name' required='true' value=(undefined===user ? '' : user.last_name))
        label(for='date_of_birth') Date of birth:
        input#date_of_birth.form-control(type='date', name='date_of_birth', value=(undefined===user ? '' : user.date_of_birth_formatted) )
    
        div.form-group
        label(for='username') Username:
        input#username.form-control(type='text', placeholder='username' name='username' required='true' value=(undefined===user ? '' : user.username) )
        label(for='password') Password:
        input#password.form-control(type='password', placeholder='password' name='password' required='true' value=(undefined===user ? '' : user.password))

        button.btn.btn-primary(type='submit') Submit
