extends layout

block content
  h1= title
  
  ul
  each user in user_list
    li 
      a(href=user.detail_url) #{user.last_name} 
      | (#{user.date_of_birth_formatted})

  else
    li There are no authors.